body {
	margin: 0px;
}

header {
	background-image: url("../imgs/header.png");
    background-size: 100%;
	padding-bottom: 100px;
}

section {
	padding: 50px 0px 50px 0px;
}

#about-section {
	background-color: #F5F5F5;
}

.profile-picture {
	height: 70%;
	width: 70%;
	margin-top: 100px;
}

#name {
	margin-top: 130px;
	font-weight: bold;
	font-size: 80px;
}

.section-header {
	font-weight: bold;
	font-size: 70px;
}

.section-description {
	margin: -10px 0px 75px 0px;
}

.sub-header {
	font-weight: bold;
	font-size: 25px;
	margin: auto;
	margin-top: 10px;
}

.about-imgs {
	height: 35%;
	width: 35%;
}

#flag {
	border-radius: 10px;
}